# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
rag_env/
venv/
.env

# Streamlit
.streamlit/

# Database
*.db
*.sqlite3

# Uploaded PDFs
uploads/

# Models
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db